{% load static %}
<html>
    <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
	<title>Django blog</title>
    </head>
    <body>
        <div class="header">
		 <nav>
			<ul class="nav nav-pills pull-right">
			{% if user.is_authenticated %}
				<li role="presentation" class="active"><a href="{% url 'post_new' %}" class="">posting</a></li>
        <li role="presentation">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="{% url 'admin:index' %}">{{user.username}}</a></li>
              <li><a href="{% url 'logout' %}">logout <span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </li>
			{% else %}
        <li role="presentation">
          <a href="{% url 'login' %}" class="">login <span class="glyphicon glyphicon-log-in"></span></a>
        </li>
			{% endif %}
			</ul>
		 </nav>
		 <h1 class="text-muted"><a href="{% url 'post_list' %}">Django Blog</a></h1>
        </div>
	<div class="container">
		<div class="row">
 			{% block content %}
    			{% endblock %}
		</div>
	</div>
  	<footer class="text-muted" id="footer">
  		<div>
  					<p class="float-right">
  						<a href="#">Back to top</a>
  					</p>
  					<p>Django Board is &copy; 2019 msyu All rights reserved.</p>
  					<p>contact me</p>
  		</div>
  	</footer>
    </body>
</html>
