{% extends 'blog/base.html' %}

{% block content %}
    <form method="POST" class="post-form" enctype="multipart/form-data">
		{% csrf_token %}
		<div>
			<table class="table table-striped" style="text-align: center;">
				<thead>
					<tr>
						<th colspan="2" style="text-align: center;"> New post </th>
					</tr>
				</thead>
				{{ form.as_table }}
			</table>
			<div>
				<button type="submit" class="btn btn-sm btn-default">확인</button>
			</div>
		</div>
    </form>
	<a class="btn btn-sm btn-primary" href="{% url 'post_list' %}">목록</a>
{% endblock %}
